.paper {
    margin-top: 2vh;
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center';
  }

form {
    width: '100%';
    margin-top: 1vh;
  }

.submit {
    margin: 1vh
}

.paper img {
    height: 25vh;
    width: auto;
  }